/ .vs/SignalRChat/config/applicationhost.config
/ .vs/SignalRChat/v16/.suo
/ .vs/SignalRChat/config/applicationhost.config
/ .vs/SignalRChat/v16/.suo
/ .vs/SignalRChat/DesignTimeBuild/.dtbcache.v2
/ .vs/SignalRChat/v16/.suo
